.homepage {
  display: flex;
  flex-direction: row;
  color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 20px 20px;
  background-color: #040f3f;
  margin: 100px 20px;
  border-radius: 48px;
  height: 70vh;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.sidebarItem {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 12px;
  gap: 15px;
  padding: 10px 15px;
  margin: 10px auto 10px;
  color: black;
  width: 90%;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 500ms;
}

.sidebarItems {
  display: flex;
  flex-direction: column;
}

.activeItem {
  background-color: #548d8f;
  color: white;
}

.sidebarItem:hover {
  background-color: #03c5ca;
  color: white;
}

.mainPage {
  width: 80%;
  height: fit-content;
  background-color: #040f3f;
  margin: 100px 20px;
  border-radius: 48px;
  padding-bottom: 20px;
}

.secretsSection {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  gap: 20px;
  padding: 20px 20px;
  background-color: #040f3f;
  border-radius: 48px;
  height: 80vh;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.section1 {
  height: 80vh;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 5px 10px;
  border-radius: 12px;
  overflow: scroll;
}

.chatroomSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: stretch;
  gap: 20px;
  padding: 20px 20px;
  background-color: #040f3f;
  border-radius: 48px;
  height: fit-content;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.homepageSpan {
  color: #03c5ca;
}

.loaderContainer {
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

@media only screen and (max-width: 600px) {
  .homepage {
    flex-direction: column;
  }

  .sidebar {
    margin-bottom: 0px;
    margin: 75px auto 0px;
    border-radius: 10px;
    padding: 5px 5px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    width: 95vw;
  }

  .sidebarItem {
    margin: 0px 10px;
  }

  .sidebarItems {
    flex-direction: row;
    margin: 10px auto;
  }

  .mainPage {
    margin-top: 10px;
    border-radius: 12px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

.userNameShare {
  font-size: 20px;
  font-weight: bold;
}

.userImageShare img {
  width: 100px;
  background-color: white;
  border-radius: 50%;
}
