.profilePage {
  display: flex;
  flex-direction: row;
  color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 20px 20px;
  background-color: #040f3f;
  margin: 100px 20px;
  border-radius: 48px;
  height: 70vh;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.sidebarItem {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 12px;
  gap: 15px;
  padding: 10px 15px;
  margin: 10px auto 10px;
  color: black;
  width: 90%;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 500ms;
}

.sidebarItems {
  display: flex;
  flex-direction: column;
}

.activeItem {
  background-color: #548d8f;
  color: white;
}

.sidebarItem:hover {
  background-color: #03c5ca;
  color: white;
}

.mainPage {
  width: 80%;
  height: fit-content;
  background-color: #040f3f;
  margin: 100px 20px;
  border-radius: 48px;
  padding-bottom: 20px;
}

.profileSection {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
  background-color: #040f3f;
  border-radius: 48px;
  height: 70vh;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.userCredentials {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.settingPictureButtons {
  color: white;
  margin-right: auto;
  margin-left: auto;
}

.profilePicture {
  background-color: white;
  border-radius: 50%;
  border: 2px solid #03c5ca;
  overflow: hidden;
  width: fit-content;
  align-items: center;
  margin: 0 auto;
}

.settingsPicture {
  height: 120px;
  width: auto;
  z-index: -2;
}

.settingPictureButtons {
  margin: 10px 50px 10px 50px;
  width: 100%;
}

.enterImageInput {
  background-color: white;
  border: 1px solid #03c5ca;
  color: black;
  font-family: Poppins;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 22px;
  width: 50%;
  outline: none;
}

.imageInputButton {
  background-color: #03c5ca;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
}

.imageInputButton:hover {
  background-color: #03c5ca;
}

.userInformation{
  display: flex;
  flex-direction: column;
}

.userInformationHeading{
  font-size: 20px;
}

.settingsSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: stretch;
  gap: 20px;
  padding: 20px 20px;
  background-color: #040f3f;
  border-radius: 48px;
  height: fit-content;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.deleteAccount {
  background-color: rgb(223, 220, 220);
  color: black;
  padding: 10px 20px;
  border-radius: 12px;
}

.deleteAccountHeading {
  font-size: 22px;
  padding-bottom: 5px;
}

.deleteAccountText {
  font-size: 12px;
  padding-bottom: 15px;
}

.deleteAccountSpan {
  color: rgb(224, 90, 90);
}

.contactDeveloper {
  background-color: rgb(223, 220, 220);
  color: black;
  padding: 10px 20px;
  border-radius: 12px;
}

.contactDeveloperHeading {
  font-size: 22px;
  padding-bottom: 5px;
}

.contactDeveloperText {
  font-size: 12px;
  padding-bottom: 15px;
}

.contactDeveloperSpan {
  color: rgb(224, 90, 90);
}

.profilePageSpan {
  color: #03c5ca;
}

.loaderContainer {
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

@media only screen and (max-width: 600px) {
  .profilePage {
    flex-direction: column;
  }

  .sidebar {
    margin-bottom: 0px;
    margin: 75px auto 0px;
    border-radius: 10px;
    padding: 5px 5px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    width: 95vw;
  }

  .sidebarItem {
    margin: 0px 10px;
  }

  .sidebarItems {
    flex-direction: row;
    margin: 10px auto;
  }

  .mainPage {
    margin-top: 10px;
    border-radius: 12px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}
