.sendMessageCard {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #040f3f;
  color: white;
  width: 50%;
  height: auto;
  padding: 30px;
  padding: 20px 40px;
  border-radius: 12px;
  border: 1px solid white;
}

.upperSection {
  margin: 20px auto;
  align-items: center;
  text-align: center;
}

.homepageSendMessageParagraph {
  font-size: 12px;
}

.homepageSendMessageSpan {
  color: #03c5ca;
}

.lowerSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landingPageMessageInput {
  display: flex;
  font-family: Poppins;
  margin: 0px auto 20px;
  padding: 20px 40px;
  height: 30vh;
  width: 100%;
  border-radius: 12px;
  font-weight: 700;
  border: none;
  outline: none;
}

.landingPageMessageInput:focus {
  border: 2px solid #03c5ca;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .sendMessageCard {
    width: 90%;
    align-items: stretch;
    height: auto;
  }

  .homepageSendMessageHeading {
    font-size: 22px;
  }
}
