.mailItem {
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  width: 100%;
  border-radius: 6px;
  transition: 200ms ease-in-out;
  align-items: center;
}

.mailItem:hover {
  cursor: pointer;
  background-color: rgb(234, 231, 231);
}

.mailInfoSection {
  display: flex;
  align-items: center;
}

.mailTime .time {
  font-size: 12px;
  color: grey;
  font-weight: 300;
  padding-left: 5px;
  padding-right: 10px;
}

.mailItemCheckbox input {
  margin-left: 10px;
}

.mailButtons {
  display: flex;
  align-items: center;
  margin: auto 20px;
}

.mailButtons .shareButton {
  border: none;
  margin: auto 5px;
  background-color: inherit;
}

.mailButtons .deleteButton {
  border: none;
  margin: auto 5px;
  background-color: inherit;
  font-size: 16px;
}

.mailButtons .shareButton:hover {
  cursor: pointer;
  color: rgb(53, 51, 51);
}

.mailButtons .deleteButton:hover {
  cursor: pointer;
  color: rgb(53, 51, 51);
}
